[package]
name = "bo-tie"
version = "0.1.0"
authors = []
keywords = ["Bluetooth", "BLE", "Low Energy"]
categories = ["asynchronous"]
license = "MIT"
edition = "2018"

[dependencies]
serde = "1.0.85"
log = "0.4.6"
objekt = "0.1.2"

[dependencies.bincode]
version = "1.0.1"
features = ["i128"]

[dev-dependencies]
simple-signal= "1.1.1"
lazy_static = "^1.1"
getopts = "^0.2"
futures-preview = { version = "0.3.0-alpha.15" }
simple-logging = "2.0.2"

[target.'cfg(target_os = "linux")'.dev-dependencies]
bo-tie-linux = { path = "crate-derivatives/bo-tie-linux"}

[target.'cfg(unix)'.dev-dependencies]
nix = "0.13.0"
